.grid-container 
{
    display: grid;
}

.separator
{
	border:1.5px solid #00AEEF;
}

body 
{
    background: white;
    color: #00AEEF;
}

button
{
	color:#00AEEF;
	border-radius:10px;
}

button:hover
{
	color:white;
	background:#00AEEF;
}

.navigation-container 
{
    width: auto;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
	text-align:center;
}

.home-container 
{
    width: auto;
    display:grid;
    grid-template-columns: auto auto;
	grid-template-row: auto;
	grid-template-areas: 
	"x y";
	align-content:center;
	
}

.team-container 
{
    width: 90%;
    align-content: center;
    display:grid;
    grid-template-columns: auto auto auto;
    grid-column-gap:20px;
	grid-row-gap:20px;
    margin-left: auto;
    margin-right: auto;
}

.about-container
{
	width:90%;
	align-content: center;
	display:grid;
	grid-template-columns:auto auto auto auto;
	grid-column-gap: 15px;
	grid-row-gap:15px;
	margin-left: auto;
    margin-right: auto;
}

.contact-container
{
    width: auto;
    text-align: center;
    font-size: 25px;
}

.navigation-container > div
{
	width:inherit;
	height:inherit;
	border: 3px solid #00AEEF;
}

.navigation-container > a
{
	width:inherit;
	height:inherit;
	height: 5vh;
	border-style: solid;
	border-color:#00AEEF;
	align-content:center;
	
}

.home-container > div
{
	grid-area:x;
    border-right: 3px solid #00AEEF;
	border-color:#00AEEF;
	border-height:auto;
	
	/* border: 3px solid #00AEEF; */
}

.home-container > img
{
	grid-area:y;
}

.c1 
{
    position: relative;
    border-radius: 50%;
    width: 100%;
    height: auto;
    padding-top: 100%;
    border: 3px solid #00AEEF;
}

.c1:hover 
{
    background: #00AEEF;
    color: white;
}

.c2 
{
    position: relative;
    border-radius: 50%;
    width: 100%;
    height: auto;
    padding-top: 100%;
    border: 3px solid #00AEEF;
}

.c2:hover 
{
    background: #0000FF;
    color: white;
}

.c3 
{
    position: relative;
    border-radius: 50%;
    width: 100%;
    height: auto;
    padding-top: 100%;
    border: 3px solid #00AEEF;
}

.c3:hover 
{
    background: #FF00FF;
    color: white;
}

.e1
{
    border-radius: 20%;
    width: 100%;
    height: auto;
    padding-top: 100%;
    border: 3px solid #00AEEF;
}

.e1:hover
{
    background: #00AEEF;
    color: white;
}

.e2
{	
	border-radius:20%;
	width:100%;
	height:auto;
	padding-top:100%;
	border: 3px solid #00AEEF;
}

.e2:hover
{
    background: #00AEEF;
    color: white;
}


.e3
{
	border-radius:20%;
	width:100%;
	height:auto;
	padding-top:100%;
	border: 3px solid #00AEEF;
}

.e3:hover
{
    background: #00AEEF;
    color: white;
}


.e4
{
	border-radius:20%;
	width:100%;
	height:auto;
	padding-top:100%;
	border: 3px solid #00AEEF;
}

.e4:hover
{
    background: #00AEEF;
    color: white;
}
